#hero {
    padding: 10%;
 
}
.HeroContainer {
    background-image: url(/assets/img/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
  
}
#hero .menu {
    text-align: center;
    text-align: -webkit-center;
    position: fixed;
    width: 100%;
    margin-top: 3%;
/*    margin-left: 30%*/
/*    float: left;*/
}
ul{
        text-align: -webkit-center;
    font-size: 20px;
}
#hero .menu{
    margin-bottom: 0%;
    
}
