/* -------------------------------- 

Primary style

-------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Ubuntu|Great+Vibes|Philosopher);
html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.container{
    
     width: 100%;
     /*for large screens*/
     max-width: 1400px;
     margin: 0 auto;
}



body {
  font-size: 100%;
 font-family: 'Ubuntu', sans-serif;
}

body, html {
  /* important */
  height: 100%;
}

a {
  color: #b4d7a8;
  text-decoration: none;
}
h1,h2,h3,h4,h5{
  font-family: 'Philosopher', sans-serif;


}

/* -------------------------------- 

Navigation style

-------------------------------- */

.cd-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: rgba(137, 255, 150, 0.81);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 2;
  margin-bottom: 2px;
}
.cd-header:after {
  content: "";
  display: table;
  clear: both;
}
.cd-header #cd-logo {
  float: left;
  margin: 13px 0 0 5%;
}
.cd-header #cd-logo img {
  display: block;
}
@media only screen and (min-width: 768px) {
  .cd-header {
    height: 70px;
  }
  .cd-header #cd-logo {
    margin: 23px 0 0 5%;
  }
}
#cd-logo{
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}

.cd-main-nav {
  float: right;
  margin-right: 5%;
  width: 44px;
  height: 100%;
  cursor: pointer;
  
}
.cd-main-nav ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  -moz-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  -o-transform: translateY(-100%);
  transform: translateY(-100%);
}
.cd-main-nav ul.is-visible {
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
}
.cd-main-nav a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  background: #2f292a;
  border-top: 1px solid #453c3d;
  color: #8e7d7f;

}
a:hover  cd-main-nav{ background-color:white; text-decoration:underline}
  a:active  { background-color:white; text-decoration:underline}
@media only screen and (min-width: 768px) {
  .cd-main-nav {
    width: auto;
    height: auto;
    background: none;
    cursor: auto;
  }
  .cd-main-nav ul {
    position: static;
    width: auto;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    line-height: 70px;
  }
  .cd-main-nav ul.is-visible {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
  }
  .cd-main-nav li {
    display: inline-block;
    margin-left: 1em;
  }
  .cd-main-nav a {
    display: inline-block;
    height: auto;
    line-height: normal;
    background: transparent;
    padding: .6em 1em;
    border-top: none;
    color: #3d3536;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    font-size: 0.875rem;
  }
  .no-touch .cd-main-nav a:hover {
    color: #99a478;
  }
}


/* -------------------------------- 

Intro style

-------------------------------- */
.cd-intro{
    color: #36a736;
    background-image: url(/img/logo_slider.png);
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    padding: 11%;
    font-size: 40px;
    width: 100%;
    background-color: #e7f5d5;
    padding-bottom: 18%
    
}
.cd-intro .cd-btn{
    border: 2px solid black;
    border-radius: 65%;
    font-size: 35px;
    padding: 1%;
    margin-top: 2%;
}
cd-btn:hover   { background-color:white; text-decoration:none}

.cd-words-wrapper {
  display: inline-block;
  position: relative;
  text-align: left;
}
.cd-words-wrapper b {
  display: inline-block;
  position: absolute;
  white-space: nowrap;
  left: 0;
  top: 0;
}
.cd-words-wrapper b.is-visible {
  position: relative;
}
.no-js .cd-words-wrapper b {
  opacity: 0;
}
.no-js .cd-words-wrapper b.is-visible {
  opacity: 1;
}




.cd-intro-content h1,
.cd-intro-content p,
.cd-intro-content .cd-btn {
  opacity: 0;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
margin-top: 4%;    
}
 
.bouncy.cd-intro-content h1 {
  animation-name: cd-bounce-right;
}
 
.bouncy.cd-intro-content p {
  animation-name: cd-bounce-left;
}
 
.bouncy.cd-intro-content h1,
.bouncy.cd-intro-content p {
  animation-duration: 3s;
}
 
.bouncy.cd-intro-content .cd-btn {
  animation-name: cd-bounce-rotate;
  animation-duration: 4s;
}
 
.bouncy.cd-intro-content .cd-btn.main-action {
  animation-delay: 3s;
}
 
@keyframes cd-bounce-right {
  0% {
    opacity: .2;
    transform: translateX(-200px);
  }
  60% {
    opacity: .7;
    transform: translateX(15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
 
@keyframes cd-bounce-left {
  0% {
    opacity: .2;
    transform: translateX(200px);
  }
  60% {
    opacity: .7;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
 
@keyframes cd-bounce-rotate {
  0% {
    opacity: .2;
    transform: perspective(800px) rotateX(-80deg);
  }
  20% {
    opacity: 1;
  }
  60% {
    transform: perspective(800px) rotateX(20deg);
  }
  100% {
    opacity: 1;
    transform: perspective(800px) rotateX(0);
  }
}
/* -------------------------------- 

About

-------------------------------- */

.about{
    text-align: center;
    background-color: #e7f5d5;
    padding-top: 15%;
    padding-bottom: 15%;
    
}
.about p{
    font-size: 22px;
}
.portfolio{
    background-color: #ecf5f5;
    text-align: center;
    padding: 5%
}
/*.skills{
   background-color: #ecf5f5;
   margin-top: 6px;
}*/

.contact{
    background-color: #e7f5d5;
    margin-bottom: 6px;
    text-align: center;
    
    
}
.contact input{
    background: none;
    
    
}

.contact textarea{
    background: none;
    width: 100%;
}

.foot{
    text-align: center;
    background: #646464;
    padding-top: 3px;

}
.foot img{
  padding: 3px;
  margin-top: 1%;
  text-align: center;
  border-x: 3px;
}















